<div class="modal" tabindex="-1" role="dialog" id="modal_email_send">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Robot: {{robot_name}} - {{command_father.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                    <h3><img loading='lazy' ng-src="{{command_father.icon}}" class="icon-modal"> {{command_father.title}}</h3>
                    <p>
                    <i class="fas fa-question-circle"></i> {{command_father.description}}
                    </p>
                    <div  class="form-group">
                        <label>{{language[language_default].to}}:</label>
                        <input class="form-control accept_vars" type="text" ng-model="$parent.command_content.to">
                    </div>
                    <div  class="form-group">
                        <label>{{language[language_default].subject}}:</label>
                        <input class="form-control accept_vars" type="text" ng-model="$parent.command_content.subject">
                    </div>
                    <div  class="form-group">
                        <label>{{language[language_default].message}}:</label>
                        <textarea class="form-control accept_vars" type="text" ng-model="$parent.command_content.msg"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{{language[language_default].attachment}}:</label>
                        <div  class="input-group">
                            
                            <input class="form-control accept_vars" type="text" id="modal_email_file" ng-model="$parent.command_content.file" placeholder="{{language[language_default].path}}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" ng-click="searchFile('modal_email_file')"><i
                                        class="fa fa-spin fa-spinner" ng-show="loading"></i>
                                    {{language[language_default].search}}</button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addCommandEmail()" class="btn btn-primary">{{language[language_default].add_command}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{language[language_default].cancel}}</button>
            </div>
        </div>
    </div>
</div>